NODE_ENV=development

WEB_PORT=3000
API_PORT=3001
MOBILE_PORT=8081

DATABASE_URL=postgresql://corsica:corsica@localhost:5432/corsica?schema=public
REDIS_URL=redis://localhost:6379
AUTH_JWT_SECRET=change-me-in-local-env

CORS_ORIGIN=http://localhost:3000
APP_PUBLIC_URL=http://localhost:3000
API_PUBLIC_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_API_URL=http://192.168.1.166:3001
